<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prato Barato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/create_update.css">
</head>
<body>
    <header>
    </header>

    <main>
        <form class="row g-3">
            <div class="col-md-6">
              <label for="nomeReceita" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nomeReceita" placeholder="Nome da Receita" required>
            </div>
            
            <div class="col-6">
              <label for="dataCriacao" class="form-label">Data de criação</label>
              <input type="date" class="form-control" id="dataCriacao" required>
            </div>

            <div class="col-md-4">
              <label for="selectChef" class="form-label">Cozinheiro</label>
              <select id="selectChef" class="form-select" required>
                <option selected disabled>Selecione</option>
                <option>Chef 1</option>
                <option>Chef 2</option>
                <option>Chef 3</option>
              </select>
            </div>

              <div class="col-md-4">
                <label for="selectCategory" class="form-label">Categoria</label>
                <select id="selectCategory" class="form-select" required>
                  <option selected disabled>Selecione</option>
                  <option>Café da Manhã</option>
                  <option>Principal</option>
                  <option>Sobremesa</option>
                </select>
            </div>
            
            <div class="form-floating">
              <span>Descrição</span>
              <textarea class="form-control" placeholder="Inormações" id="floatingTextarea" style="width: 33%;" ></textarea>

            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
          </form>
    </main>

    <footer>
    </footer>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>