:root{
    --petroleo:  #2d8183;
    --coral: #e07a5f;
}

.btn-primary{
    background-color:var(--petroleo);
    border: var(--petroleo);
}

.btn-primary:hover{
    background-color: var(--coral);
    border: var(--coral);
}


.col-md-6{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#descricao{
    border-radius: 5px;
    border: 1px solid #ced4da ;
}


form{
    padding: 10px 10px 10px 15px;
}