:root{
    --petroleo: #2d8183;
    --branco:#ffff;
}

table{
    border: 1px solid;
    border-color: var(--petroleo) !important;
    text-align: center;
    

}
thead th{
    background-color: var(--petroleo) !important ;
    color: var(--branco) !important;
}

#trash-btn{
    border: none;
    background-color: transparent;
    color: var(--petroleo);
}


