:root{
    --petroleo:  #2d8183;
    --coral: #e07a5f;
    --orange: #F4A261;
    --yellow: #E9C46A;
}


.btn-primary{
    background-color:var(--petroleo);
    border: var(--petroleo);
    margin-bottom: 10px;
}

.btn-primary:hover{
    background-color: var(--coral);
    border: var(--coral);
}


main{
    background-color: var(--yellow);
}


.forgot-btn{
    margin-bottom: 50px ;
}

#forgot-modal{
    border: none;
    background-color: transparent;
    color: var(--petroleo);
}


#user-forgot{
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

a{
    color: var(--petroleo);
    text-decoration: none;
}

