/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Alinhamento vertical dos containers */
    align-items: center; /* Centraliza os containers horizontalmente */
}
  /* Estilo para o header no topo */
  .header {
    width: 100%; /* Ocupa toda a largura da página */
    background-color: #333; /* Cor de fundo do header */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaçamento interno */
    position: fixed; /* Fixa o header no topo da página */
    top: 0; /* Alinha o header ao topo */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

/* Estilo para cada container */
.container {
    width: 90%;
    height: 30%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Espaçamento entre os containers */
    padding: 20px;

}

div#con1{
    margin-top: 10%;
}